
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  /* background-color:#f0f0f0; */
  /* background: 100%; */
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  /* background:linear-gradient(to right, #282c34, #4a91e2fd); */
  background-color:#282c34 ;
  min-height: 15vh;
  padding: 2px;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4) ;
}

h1{
  font-size: 50px;
  text-align: center;
  font-weight: 700;

}

main {
  padding: 20px;
}

#meme-container {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

img {
  height: 250px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.text-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.meme-info {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 0.75px solid #ccc;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #4fa3d1; 
  }
  50% {
    color:#007bff; 
  }
  100% {
    color: black; 
  }
}


button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color:#007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #0e3042;
}

h2{
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  color:#282c34;
}

p{
  font-size: 12px;  
  text-align: center;
}

.btn-success {
  display: inline-block;
}

.btn-success.mb-3.mt-3.w-50.p-2 {
  margin-left: 25.40%;
}

.container{
  background-color: rgba(245, 245, 245, 0.5);
}








