
@keyframes slideInOut {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
   h1{
    animation: slideInOut 30s linear infinite;
    overflow: hidden;
  }
  
  