
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #6ec1edd2, #f0f0f0); 
  /* background-color:#f0f0f0; */
}

.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 2px;
  color: white;
  text-align: center;
}

main {
  padding: 20px;
}

#meme-container {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

img {
  height: 250px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.text-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.meme-info {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #4fa3d1; 
  }
  50% {
    color:#1691ba; 
  }
  100% {
    color: black; 
  }
}


button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #13beed;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #0e3042;
}



